<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <title>RestorApps</title>
</head>
<body>
<a href="#maincontent" class="skip-link">Menuju ke konten</a>
<nav id="navigationDrawer">
    <div class="logo">
        <h1>RestorApps</h1>
    </div>
    <a href="#" class="burger" id="hamburgerButton"><span class="fa fa-bars"></span></a>
    <ul class="nav" id="navigationDrawer">
        <li class="navlink"><a href="./index.html">Home</a></li>
        <li class="navlink"><a href="#">Favorit</a></li>
        <li class="navlink"><a href="https://www.linkedin.com/in/ssatyaji/" target="_blank">About Us</a></li>
        <li class="navlink"><a href="#"><span class="fa fa-search"></span></a></li>
    </ul>
</nav>
<div class="hero-image">
    <div class="hero-text">
        <h1>.are you hungry?</h1>
        <p>let's find out with us!</p>
        <a href="#explore-restauran"><button><span class="fa fa-check-circle"></span> Explore Restaurant</button></a>
    </div>
</div>
<main id="mainContent"></main>
<footer class="footer">
    <p>Copyright &copy; 2021 - RestorApps</p>
</footer>
</body>
</html>
