<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <title>RestorApps</title>
</head>
<body>
<a href="#maincontent" class="skip-link">Menuju ke konten</a>
<app-bar></app-bar>

<self-hero></self-hero>

<main id="mainContent"></main>

<self-footer></self-footer>

</body>
</html>
